body{
	background-image: url(https://funart.pro/uploads/posts/2021-04/1618564366_48-funart_pro-p-oboi-fon-anime-voda-56.jpg)
}
div{
	width: 300px;
	height: 300px;
	border: double 8px black;
	margin: 50px;
}
.third, .fourth{
	width: 700px;
	height: 75px;
}
.first{
	border: double 7px orange;
	background-image: url(http://umteh.com/uploads/posts/2015-05/1431529328_fiery-love-480x854.jpg);
}
.fifth{
	width: 300px;
	height: 300px;
	border: double 9px black;
	margin: 60px;
	background-color: white;
}
.sixth{
	width: 200px;
	height: 200px;
	border: double 9px black;
	margin: 40px;
	background-color: grey;
}
.seventh{
	width: 100px;
	height: 100px;
	border: double 9px white;
	margin: 40px;
	background-color: black;
}